<html>
<%-include('partials/head.html');%>

	<body>
		<header>
			<%-include('partials/navegacion.html');%>
		</header>

		<div>
		<center>
			<h1>Listado de Contactos</h1>
		</center>
		<table id="tablaM">
			<thead>
				<tr>
					<th scope="col" id="td">ID</th>
					<th scope="col">Nombre</th>
					<th scope="col">Domicilio</th>
					<th scope="col">Telefono</th>
				</tr>
			</thead>
			<% if (contactos) { %>
				<tbody>
					<% for(var i=0; i < contactos.length; i++ ) { %>
						<tr>
							<td id="td">
								<%= contactos[i].idContactos %>
							</td>
							<td>
								<%= contactos[i].nombre %>
							</td>
							<td>
								<%= contactos[i].domicilio %>
							</td>
							<td>
								<%= contactos[i].telefono %>
							</td>
						</tr>
						<% } %>
				</tbody>
				<% } %>

		</table>

		<div id="botones">
			<form action="/contactos" method="post">
				<button type="submit" class="btn btn-secondary mb-2" id="boton1">Ver</button>
			</form>
			<form action="/contactos" method="get">
				<button action="/contactos" class="btn btn-secondary mb-2" id="boton2">Limpiar</button>
			</form>
		</div>

		<div class="agregarcontacto">
			<center>
				<h3>Agregar un nuevo contacto</h3> 
			</center>
			<form action="/contactos/nuevo" method="post">
			<div class="form-group row" id="cont-agregar">
				<div id="margen">
					<div class="form-group row">
						<label for="nombre" class="col-sm-1 col-form-label">Nombre</label>
					<div class="col-sm-10" id="input">
						<input type="text" name="nombre" id="nombre" class="form-control">
					</div>
					</div>
		
					<div class="form-group row">
						<label for="direccion" class="col-sm-1 col-form-label">Domicilio</label>
					<div class="col-sm-10" id="input">
						<input type="text" name="domicilio" id="domicilio" class="form-control">
					</div>
					</div>
					<div class="form-group row">
						<label for="telefono" class="col-sm-1 col-form-label">Telefono</label>
						<div class="col-sm-10" id="input">
							<input type="text" name="telefono" id="telefono" class="form-control">
						</div>
					</div>
				</div>
				
			</div>
			<div id="boton3">
				<button type="submit" class="btn btn-secondary mb-2" id="Agregar">Agregar</button>
			</div>
		</form> 
		</div>

		<center>
			<h3>Modificar Contacto</h3>
		</center>
		<form action="/contactos/id" method="get" id="ides">
			<label for="idContactos" id="label2">Contacto ID:</label>
			<div id="label">
				<input type="text" id="idContactos"  class="form-control" name="idContactos">	
			</div>
			<div id="boton3">
				<button type="submit" class="btn btn-secondary mb-2" id="busc">Buscar</button>
			</div>
		</form>
		</div>
		<% if ( contacto ) { %>
			<div id="margen2">
				<form action="/contactos/id" method="post">
					<input type="hidden" name="idContactos" id="idContactos" value="<%=contacto.idContactos%>">
					<label for="nombre" class="col-sm-0 col-form-label">Nombre:</label>
					<input type="text" id="nombre" name="nombre" value="<%=contacto.nombre%>">
					<label for="domicilio" class="col-sm-0 col-form-label">Domicilio:</label>
					<input type="text" id="domicilio" name="domicilio" value="<%=contacto.domicilio%>">
					<label for="telefono" class="col-sm-0 col-form-label">Telefono:</label>
					<input type="text" id="telefono" name="telefono" value="<%=contacto.telefono%>">
					<button type="submit" class="btn btn-secondary mb-2">Guardar</button>
				</form>

				<form action="/contactos/id/borrar" method="post">
					<input type="hidden" name="idContactos" id="idContactos" value="<%=contacto.idContactos%>">
					<button type="submit" class="btn btn-secondary mb-2" id="boton4">Eliminar</button>
				</form>
			</div>
			<% } %>


				

	</body>

	<%-include('partials/footer.html');%>
	</div>
		
</html>